[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 14.0
[submodule "OCA/website"]
	path = OCA/website
	url = https://github.com/OCA/website
[submodule "OCA/l10n-spain"]
	path = OCA/l10n-spain
	url = https://github.com/OCA/l10n-spain
[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = https://github.com/OCA/reporting-engine
[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = https://github.com/OCA/account-financial-tools
[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = https://github.com/OCA/server-ux
[submodule "OCA/social"]
	path = OCA/social
	url = https://github.com/OCA/social
[submodule "OCA/stock-logistics-warehouse"]
	path = OCA/stock-logistics-warehouse
	url = https://github.com/OCA/stock-logistics-warehouse
[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = https://github.com/OCA/partner-contact
[submodule "OCA/product-attribute"]
	path = OCA/product-attribute
	url = https://github.com/OCA/product-attribute
[submodule "OCA/mis-builder"]
	path = OCA/mis-builder
	url = https://github.com/OCA/mis-builder
[submodule "OCA/web"]
	path = OCA/web
	url = https://github.com/OCA/web
